* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .herSection {
    width: 100%;
    height: 90vh;
    background: url("../images/chinbg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .herSection h2{
    color: orange;
  }
  .Resturant-conTainer .aboutFastFood{
    background: url("../images/chinafood.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 75px;
  }
  
.container:hover .overlay {
  height: 250px;
}
.headingText {
  text-align: center;
  margin: 30px auto;
  color: orange;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
  
  .menuCard {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding-top: 30px;
  }
  @media (max-width: 768px) {
    .herSection {
        height: 50vh;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .herSection{
        height: 40vh;
    }
}