body {
  /* overflow: auto; */
  background: url('../images/order.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.btnOrder {
  visibility: hidden;
}

.container {
  width: 70%;
  margin: 10px auto;
  max-height: 100vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  scrollbar-width: none;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
  background-color: orange;
  color: white;
  font-size: 3rem;
  margin-bottom: 10px;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 10px auto;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e7e7e7;
}

.cart1 {
  display: flex;
  justify-content: left;
  margin-bottom: 2px;
  position: relative;
  padding: 4px 0px;

}

.cart-detail {
  margin: 0px 4px;
}

.cart1 img {
  width: 130px;
  height: 110px;
  border-radius: 10px;
}

.cart-name {
  font-size: 1.7rem;
  font-weight: bolder;
  color: orange;
  width: 100%;
}

.cart-price {
  font-size: 1.3rem;
  margin-top: 3px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  color: orange;
  font-size: 2rem;
}

.content {
  width: 70%;
  margin: 0px auto;
  background-color: #e7e7e7;
  padding: 20px;
  height: 200px;
  padding-bottom: 200px;
}

.content .current {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
  gap: 5px;
}

.content .add {
  width: 50%;
  margin: 0px 220px;
}

.add input {
  background-color: #eee;
  border: 1px solid orange;
  padding: 6px 15px;
  font-size: 13px;
  width: 230px;
  outline: none;
}

button {
  background-color: orange;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px 6px;
}

.content .current p {
  display: block;
}

.content .fa-plus {
  color: rgb(115, 115, 255);
  border: 1px solid rgb(115, 115, 255);
  border-radius: 50%;
  padding: 4px 5px;
}

.current1 {
  margin-left: 80px;
  margin-top: 30px;
}

.current1 div {
  display: flex;
  align-items: center;
  margin: 14px 0px;
}

.current1 img {
  width: 100px;
}

.btn1 {
  background-color: #e7e7e7;
  width: 70%;
  margin: 0px auto;
  position: relative;
  top: -15px;
  display: flex;
  justify-content: right;
  padding: 14px 51px;
}

.current1 input {
  margin-right: 5px;
}

.flex {
  display: flex;
  gap: 15px;
  font-weight: 600;
}

.flex .left1 {
  display: block;
}

.flex .right1 {
  display: block;
  text-align: right;
}

.flex .left1 p:nth-child(3),
.flex .right1 p:nth-child(3) {
  display: none;
}

.add .input p {
  color: red;
  margin-top: 5px;
}

.add .input {
  display: none;

}